.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.bold {
    font-weight: 700;
    padding: 2%;
    
}

.standard {
    font-weight: 400;
}

img {
    display: block;
    margin: auto;
    width: 250px;
    height: auto;
    border-radius: 15px;
}

div {
    box-sizing: border-box;
    width: 280px;
    height: 430px;
    border-radius: 15px;
    margin:  auto;
    padding-top: 10px;
}

.container {
    background-color: white;
    margin-top: 15%;
}
