.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.bold {
    font-weight: 700;
}

.standard {
    font-weight: 400;
}

img {
    width: 330px;
    height: auto;
    border-radius: 20px;
}

div {
    box-sizing: border-box;
    width: 340px;
    height: auto;
    border-radius: 20px;
}
